*{
    margin: 0;
    padding: 0;
}
nav{
    height: 100px;
    background: gray;
    padding: 30px;
    box-sizing: border-box;

}
nav ul li {
 display: inline-block;
    margin: 0 10px;
}
nav ul li a:hover{
    color: aquamarine;
    font-weight: bold;
}
nav ul {
    text-align: center;
}
a {
    text-decoration: none;
    color: chocolate ;
}
nav a {
    color: white;
}

